@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 30 41 59;
  }

  .dark {
    --background: 30 41 59;
    --foreground: 241 245 249;
  }

  body {
    @apply bg-background-light text-text-light dark:bg-background-dark dark:text-text-dark transition-colors duration-300;
  }
}